
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,500;0,700;1,200;1,500;1,700&&family=Monoton&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    background-color: #244656;
    color: #ffffff;
}

.header {
    font-family: "Monoton", sans-serif;
    font-size: 50px;
    letter-spacing: 15px;
}


/*--------------------------------------------------------------Landing Page---*/

.divider {
    height: 3px;
    background-color: #f9ee6c;
}

h4 {
    margin: .912rem 0 .912rem 0;
}

/*--------------------------------------------------------------Buttons---*/

.btn-quiz {
    min-height: 100px;
    min-width: 50vw;
    background-color: #f9ee6c;
    color: #62acd0;
    font-size: 30px;
    border-radius: 1.2rem;
    position: relative;
}

.btn:hover {
    background-color: #fbff01;
}

/*------------------------------------------------------QUIZ ROUNDS--------*/

.quiz-round {
    padding-bottom: 30px;
}

ul {
    min-height: 130px;
}

.btn-answer {
    background-color: #f9ee6c;
    color: #244656;
    border-radius: 1.2rem;
    margin-bottom: 10px;
    min-width: 150px;
}

.movie-intro {
    font-weight: 200;
}

.progress {
    height: 20px;
    color: black;
    background-color: #ff000a9c;
    border-radius: 1.2rem;
}

.progress
.determinate {
    background-color: #26a62ab3;
}

.btn-floating {
    background-color: #f9ee6c;
    padding-left: 10%;
    padding-right: 10%;
}

.btn-floating
i {
    color: #244656;  
}

/*------------------------------------------------------SCORE PAGE--------*/

#score {
    font-size: 150px;
    border: 5px solid #f9ee6c;
    border-radius: 1.2rem;
}